$primary-color: #FFFFFF;
$secondary-color: #4EE1A0;

$primary-bg-color: #000000;
$secondary-bg-color: #242424;

$font-primary: "Space Grotesk Bold", sans-serif;
$font-secondary: "Space Grotesk Medium", sans-serif;
